<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Page</title>
    <!-- Add Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Navn</th>
            <th>Brukernavn</th>
            <th>Antall Brus</th>
            <th>Lag</th>
            <th>Rediger</th>
          </tr>
        </thead>
        <tbody>
          <% users.forEach((user) => { %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.username %></td>
            <td><%= user.totalBrus %></td>
            <td><%= user.team %></td>
            <td>
              <a href="/admin//<%= user.id %>" class="btn btn-primary"
                >Rediger</a
              >
              <button
                data-user-id="<%= user.id %>"
                class="btn btn-danger betalt-button"
              >
                Betalt
              </button>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
    <!-- Add Bootstrap JS and its dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/javascripts/betalt.js"></script>
  </body>
</html>
